*,::after,::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    min-height: 100vh;
    scroll-behavior: smooth;
    font-family: 'Inter',sans-serif;
}

a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: #3861fb;
}

.cmc-link a{
    font-size: 1.4rem;
    font-weight: 600;
    padding-right: 0.8rem;
    margin-right: 1.5rem;
}
