:root {
  --gray-primary: rgb(209 213 219);
  --gray-variant-hover: rgb(243 244 246);
  --blue-primary: rgb(56, 97, 251);
  --blue-variant-hover: rgb(59 130 246);
  --blue-variant-hover-dark: rgb(11, 64, 255);
  --blue-variant-shadow: rgb(147, 197, 253);
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  min-height: 100vh;
  scroll-behavior: smooth;
  font-family: inter;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
}

.active {
  color: var(--blue-variant-hover-dark);
}

.solidDivWrapper {
  margin-right: 2.4rem;
}
.solidDiv {
  background-color: gray;
  width: 320px;
  height: 600px;
}
@media screen and (max-width: 1023px) {
  .solidDiv {
    width: 100%;
    height: 28rem;
  }
  .solidDivWrapper {
    margin: 0;
    width: 100%;
  }
}
